<section class="section testimonials">
		<div class="container">
			<div class="row">
				<div class="col md-hidden testimonials__image" style="background-image:url(@@bg)"></div>
				<div class="col-lg-7 testimonials__slider-container">
					<div class="section__title">
							Hear Directly From Our Members
					</div>
	
						<div class="testimonials__slider">
								<div class="testimonial">
									<div class="quot-mark icon"><img src="./media/img/icons/quote.png" alt=""></div>
									<div class="testimonial__text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
									</div>
									<div class="testimonial__author">
											Cathy Howard, Surgery Patient
									</div>
								</div>
								<div class="testimonial">
									<div class="quot-mark icon"><img src="./media/img/icons/quote.png" alt=""></div>
									<div class="testimonial__text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
									</div>
									<div class="testimonial__author">
											Cathy Howard, Surgery Patient
									</div>
								</div>
								<div class="testimonial">
									<div class="quot-mark icon"><img src="./media/img/icons/quote.png" alt=""></div>
									<div class="testimonial__text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
									</div>
									<div class="testimonial__author">
											Cathy Howard, Surgery Patient
									</div>
								</div>
								<div class="dots"></div>
							</div>
				</div>
			</div>
	
		</div>	
	</section>