.testimonials{
	background-color: #e8ce19;
	padding:0;
	&__image{
		background-image: url('../img/home/testimonials.png');
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 30px;
	}
	&__slider{
		&-container{
			@extend .section;
		}
		.dots{
			padding: 30px 0 0;
			.slick-dots{
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 -7px;
				li{
					padding:0;
					display:block;
					margin:0 7px;
					&:before{
						display:none;
					}
					button{
						width:15px;
						height: 15px;
						background: #fff;
						opacity:.5;
						transition:all .15s ease-in-out;
						padding: 0;
						&:hover{
							opacity:1;
						}
					}
					&.slick-active{
						button{
							opacity:1;
						}
					}
				}
			}
		}
		.testimonial{
			.quot-mark{
				padding:0 0 20px;
				img{
					display: inline-block;
				}
			}
			&__text{
				font-size: 14px;
				font-weight: 400;
				font-style:italic;
				line-height: 1.5;
				padding: 0 0 20px;
			}
			&__author{
				font-size: 14px;
			}
		}
	}
}
