<section class="section different member">
	<div class="container">
	<div class="issues ">
		<h2 class="section__title text-center">
			Having issues signing up or have other questions?
		</h2>
		<div class="section__subtitle text-center">
				MyCuraCare Concierge Team will be happy to help</div>
		<form action="" class="issues-form">
			<div class="input-box mt-2">
				<input type="text" placeholder="FULL NAME*" required>
			</div>
			<div class="input-box mt-3">
				<input type="email" placeholder="YOUR EMAIL*" required>
			</div>
			<div class="mt-5 text-center">
				<button class="transparent inline btn">contact concierge team</button>
			</div>
		</form>
	</div>

			<h2 class="section__title text-center">How We Are Different
					<div class="section__title-decorator"></div>
				</h2>
				<div class="differences">
						<div class="difference">
								<div class="difference__image" style="background-image: url(./media/img/home/surgeons.jpg)"></div>
							<div class="difference__content">
								<div class="difference__icon icon">
									<svg name="svg-surgeons" >
										<use xlink:href="#surgeons" /></svg>
								</div>
								<div class="feature__title">
									Access to top quality surgeons
								</div>
								<div class="feature__text">
									Schedule your procedure with high confidence knowing that you will get highly qualified and the best surgeons in
									the industry with exceptional records.
								</div>
							</div>
						</div>
						<div class="difference">
								<div class="difference__image" style="background-image: url(./media/img/home/costs.jpg)"></div>
							<div class="difference__content">
								<div class="difference__icon icon">
									<svg name="svg-costs">
										<use xlink:href="#costs"  /></svg>
								</div>
								<div class="feature__title">
										Low the zero out of pocket costs
								</div>
								<div class="feature__text">
										MyCuraCare’s delivery model is focused on providing you with high quality surgeries with low to zero out of 
										pocket costs.
								</div>
							</div>
						</div>
						<div class="difference">
								<div class="difference__image" style="background-image: url(./media/img/home/concierge.jpg)"></div>
							<div class="difference__content">
								<div class="difference__icon icon">
									<svg name="svg-concierge">
										<use xlink:href="#concierge"  /></svg>
								</div>
								<div class="feature__title">
										Access to MyCuraCare concierge team
								</div>
								<div class="feature__text">
										You are not alone. The cura Cure Concierge team is always here to guide you through the entire process. Please reach out to us whenever you need a helping hand or when you have just about any question.
								</div>
							</div>
						</div>
				</div>
	</div>
</section>