.issues {
	background: #fff;
	margin: -140px auto 60px;
	border-radius: 20px 20px 0 0;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #f5f5f5;
	@extend .container;

	&-form {
		width: 470px;
		margin: 0 auto;
		max-width: 100%;
	}
}

.differences {
	.difference {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		background: #fff;
		overflow: hidden;
		margin-bottom: 60px;
		@extend .shadow-box;
		@extend .round-box;
		@include b(tablet){
			flex-wrap:wrap;
		}
		&:nth-of-type(odd) {
			flex-direction: row-reverse;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&__content {
			text-align: center;
			width: 470px;
			flex: 0 0 470px;
			max-width: 100%;
			padding: 60px 15px;

			@include b(tablet) {
				padding:40px 15px;
				flex-basis: 100%;
				width: 100%;
			}
		}

		.feature__title {
			padding:30px 0;
			margin:0 auto;
			width:200px;
			@include b(tablet){
				padding:20px 0;
			}
		}

		&__icon {
			display: block;
			margin: 0 auto;
			width: 60px;
			height: 60px;

			svg {
				fill: $themeColor;
			}
		}


		&__image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 340px;
			max-height: 100vh;
			flex: 1 1 100%;
@include b(min){
	min-height:200px;
}
		}
	}
}