<section class="section different employer">
	<div class="container">
		<div class="issues ">
			<h2 class="section__title text-center">
				Having issues signing up or have other questions?
			</h2>
			<div class="section__subtitle text-center">
					MyCuraCare Concierge Team will be happy to help</div>
			<form action="" class="issues-form">
				<div class="input-box mt-2">
					<input type="text" placeholder="FULL NAME*" required>
				</div>
				<div class="input-box mt-3">
					<input type="email" placeholder="YOUR EMAIL*" required>
				</div>
				<div class="mt-5 text-center">
					<button class="transparent inline btn">contact concierge team</button>
				</div>
			</form>
		</div>

		<h2 class="section__title text-center">How We Are Different
			<div class="section__title-decorator"></div>
		</h2>
		<div class="section__description">
				MyCuraCare directly connects progressive self-insured employers to top-quality regional healthcare providers through
			the industry’s first comprehensive bundled payment solution. Our innovative platform reimagines how care is paid for
			and delivered, improving the value of health benefits for employers and their memebers.
		</div>

		<div class="feature-squares row no-gutters">
			<div class="col feature-square">
				<div class="feature-square__text title">
					Unlock all the great features designed with you and your employees in mind!
				</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-file-alt"></i>
				<div class="feature__title text-left">
					Provider contracting
				</div>
				<div class="feature-square__text">Full-service provider management with robust quality evaluation and standard
					bundled contracts. All bundles have a compelling price and readmission warranty. Adding new providers or
					procedures is fast and simple.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-user-circle"></i>
				<div class="feature__title text-left">
					Member engagment
				</div>
				<div class="feature-square__text">Our comprehensive engagement toolkin includes incentive design, custom
					communication campaings, and integration with existing programs and channels. We partner with clients to drive
					high utilization of this great benefit.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-address-card"></i>
				<div class="feature__title text-left">
					Oparation platform
				</div>
				<div class="feature-square__text">Implementing and running the solution in effortless, form efficient payments
					processing to integration with existing benefits. You can easily customize policies and procedures to fit your
					organization.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-chart-line"></i>
				<div class="feature__title text-left">
					Analytical insights
				</div>
				<div class="feature-square__text">Intelligent analytics to monitor the performance of the program, isolate
					actionable improvements and find expansion opportunities. Our predictive algorithms maximize employee engagement.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-star"></i>
				<div class="feature__title text-left">
					Top quality providers
				</div>
				<div class="feature-square__text">Exclusive acces to top-quality hospitals and surgeons in your region. We’ve done
					all the homework to give you better care and peace of mind when it is needed most.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon fas fa-cogs"></i>
				<div class="feature__title text-left">
					intuitive patient tools
				</div>
				<div class="feature-square__text">Our easy-to-use tools create the patient experience we all deserve. With
					step-by-step guidance, straightforward progress tracking and helpful reminders - you will never be lost or
					confused.</div>
			</div>
			<div class="col-lg-4  col-sm-6 feature-square">
				<i class="feature-square__icon "><svg name="svg-care"><use xlink:href="#care"  /></svg></i>
				<div class="feature__title text-left">
						MyCuraCare service
				</div>
				<div class="feature-square__text">Friendly and knowledgeable suport from a dedicted Cure Care concierge, who is
					your personal assistant and compassionate advocate trought the entire journey.</div>
			</div>
			<div class="col-lg-4  col feature-square">
				<div class="feature-square__text title">Connect with us today to start saving.</div>
			</div>
		</div>
	</div>
</section>