@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');




@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-MediumCn.eot');
    src: local('Avenir Next LT Pro Medium Condensed'), local('../fonts/Avenir/AvenirNextLTPro-MediumCn'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-BoldCn.eot');
    src: local('Avenir Next LT Pro Bold Condensed'), local('../fonts/Avenir/AvenirNextLTPro-BoldCn'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.eot');
    src: local('Avenir Next LT Pro Medium Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-MediumCnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-DemiCn.eot');
    src: local('Avenir Next LT Pro Demi Condensed'), local('../fonts/Avenir/AvenirNextLTPro-DemiCn'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.eot');
    src: local('Avenir Next LT Pro Demi Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-DemiCnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-It.eot');
    src: local('Avenir Next LT Pro Italic'), local('../fonts/Avenir/AvenirNextLTPro-It'),
        url('../fonts/Avenir/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-It.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-Bold.eot');
    src: local('Avenir Next LT Pro Bold'), local('../fonts/Avenir/AvenirNextLTPro-Bold'),
        url('../fonts/Avenir/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-CnIt.eot');
    src: local('Avenir Next LT Pro Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-CnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-CnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-CnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-CnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-CnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.eot');
    src: local('Avenir Next LT Pro Heavy Condensed'), local('../fonts/Avenir/AvenirNextLTPro-HeavyCn'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.eot');
    src: local('Avenir Next LT Pro Bold Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-BoldCnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-Cn.eot');
    src: local('Avenir Next LT Pro Condensed'), local('../fonts/Avenir/AvenirNextLTPro-Cn'),
        url('../fonts/Avenir/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-Cn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-Cn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-Regular.eot');
    src: local('Avenir Next LT Pro Regular'), local('../fonts/Avenir/AvenirNextLTPro-Regular'),
        url('../fonts/Avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.eot');
    src: local('Avenir Next LT Pro Ultra Light Condensed'), local('../fonts/Avenir/AvenirNextLTPro-UltLtCn'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-DemiIt.eot');
    src: local('Avenir Next LT Pro Demi Italic'), local('../fonts/Avenir/AvenirNextLTPro-DemiIt'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-DemiIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-Demi.eot');
    src: local('Avenir Next LT Pro Demi'), local('../fonts/Avenir/AvenirNextLTPro-Demi'),
        url('../fonts/Avenir/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-Demi.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-UltLtIt.eot');
    src: local('Avenir Next LT Pro Ultra Light Italic'), local('../fonts/Avenir/AvenirNextLTPro-UltLtIt'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/Avenir/AvenirNextLTPro-UltLt.eot');
    src: local('Avenir Next LT Pro Ultra Light'), local('../fonts/Avenir/AvenirNextLTPro-UltLt'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.eot');
    src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cn';
    src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.eot');
    src: local('Avenir Next LT Pro Heavy Condensed Italic'), local('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.woff') format('woff'),
        url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

