//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
	box-sizing: border-box;
	outline:0;
}
html {
	overflow-x:hidden;
}
body {
	position:relative;
	min-height:100vh;
	min-width: 320px;
	overflow-x:hidden;
	margin:0;
	padding:0;
	transition:padding .3s ease-in-out;
}
.noscroll {
	overflow:hidden !important;
	height:100%;
	position:relative;
}
.page {
	display:flex;
	flex-flow:column nowrap;
	width:100%;
}
.container {
	$w:1250px;
	padding: 0 40px;
	width: $w;
	max-width:100%;
	margin: 0 auto; 
	position:relative;
	@include b(desktop){
		padding: 0 15px;
	}
	&-half{
		width:$w/2;
		max-width:100%;
	}
	&.fluid,&--fluid{
		width: auto;
	}
}

.j-pp-mockup {
	position:absolute;
	top:0;
	margin-left:50%;
	transform:translateX(-50%);
}