//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	color: $mainFontColor;
	font-family: $mainFont;
	font-weight: $mainFontWeight;
	line-height: $mainFontHeight;

	@include font-size(14px);
	@include b(1200) {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

h1 {
	font-size: 60px;

	@include b(1200) {
		font-size: 26px
	}
}

.page-title {
	font-size: 60px;
	line-height: 1.2em;
	margin: 0 auto;
	padding: 10px 0;
}

h2 {
	font-size: 40px;
	padding: 0 0 45px;

	@include b(1200) {
		font-size: 22px;
		padding: 0 0 25px;
	}
}

h3 {
	font-size: 24px;
	line-height: 24px;

	@include b(1200) {
		font-size: 20px;
		line-height: 20px;
	}
}

h4 {
	font-size: 18px;
	padding: 0 0 9px;

	@include b(1200) {
		font-size: 16px
	}
}

h5 {
	font-size: 14px;
	line-height: 16px;
}

h6 {
	font-size: 12px;
	line-height: 14px;
}

p {
	padding: 0;
	margin: 0;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;

	&+& {
		padding: 6px 0 0;
	}
}

hr {
	overflow: hidden;
	height: 1px;
	background: #e9e9e9;
	border: 0;
	margin: 32px 0;
}

q,
blockquote {
	text-align: center;
	display: block;
	font-style: italic;
}

strong,
b {
	font-weight: 600;
}

a:not([class*="btn"]) {
	color: $linkColor;
	transition: all .15s ease-in-out;
	// text-decoration: none;
	border-bottom: 0;

	&:hover {
		// text-decoration: none;
		border-bottom-color: transparent;
	}
}

a:active {}

a:visited {}

%ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		line-height: normal;
		font-size: inherit;
		line-height: inherit;
		display: block;
		padding: 0 0 0 16px;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 8px;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background: #000;
			border-radius: 50%;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

ul {
	@extend %ul;

	&.native-bullets {
		li {
			&:before {
				position: relative;
				left: auto;
				top: auto;
				transform: none;
				display: inline-block;
				vertical-align: middle;
				margin-right: 8px;
			}
		}
	}
	&.ticked{
		li{
			padding-left:30px;
			&:before{
				height: 13px;
				width: 13px;
				background: #aaadaa;
				color:#fff;
				content:"\02713";
				font-size: 10px;
				text-align: center;
				line-height: 13px;
				font-weight: bold;
				top:.4em;
				transform:none;
			}
		}
	}
	&.top-marker{
		li  {
			&:before{
				top:1em;
				width:6px;
				height:6px;
				background: #7F7F7F;
			}
		}
	}
}


%ol {
	list-style-type: decimal;
	list-style-position: inside;
	counter-reset: item;
	margin: 24px 0;
	padding: 0;

	li {
		display: block;
		position: relative;
		line-height: inherit;
		font-size: inherit;
		padding: 0 0 8px 0;

		&:before {
			content: counters(item, ".") ". ";
			counter-increment: item;
			display: inline;
			vertical-align: top;
			font-weight: 800;
			color: #000;
			position: relative;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.raised-dots {
	li {
		&:before {
			width: 13px;
			height: 13px;
			background-color: rgb(112, 148, 247);
			box-shadow: 0px 10px 13px 0px rgba(10, 15, 67, 0.21);

		}
	}
}

ol {
	@extend %ol;
}

.table-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}

table:not(.ui-datepicker-calendar) {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: auto;
	margin: 0 auto;

	td,
	th {
		font-size: inherit;
		line-height: inherit;
		border: 0;
		text-align: center;
		white-space: nowrap;
	}

	th {
		font-weight: 400;
		font-family: $mainFont;
		border-bottom: 1px solid #bdbdbd;
		font-size: 24px;
		color: #000;
		vertical-align: top;
		padding: 0 16px 16px;
		white-space: nowrap;

		&:first-child {
			border-right: 1px solid #bdbdbd;
			border-bottom: 0;
			vertical-align: middle;
			padding: 25px 16px 16px;
			text-align: right;
		}


		@include b(desktop) {
			padding: 0 8px 8px;
			font-size: 18px;

			&:first-child {
				padding: 12px 8px 8px;
			}

		}
	}

	tr:first-child th:first-child {
		border-bottom: 1px solid #bdbdbd;
		vertical-align: top;
		padding: 0 16px 16px;
		
		@include b(desktop) {
			padding: 0 8px 8px;}
	}
	td {
		color: #444;
		vertical-align: middle;
		padding: 25px 16px 16px;
		font-size: 14px;

		@include b(desktop) {
			padding: 12px 8px 8px;
		}
	}

	tr:last-child {

		td,
		th {
			padding-bottom: 0;

			@include b(tablet) {
				padding-bottom: 8px;
			}
		}
	}
}


.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}
.condensed{
	font-family:$cnFont;
}
.c-dark,
.c-black {
	color: black!important;
}

.c-white,
.c-light {
	color: white;
}


.raised {
	box-shadow: 0 15px 30px rgba(#0a0f43, .3) !important;
}

.center,
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



img {
	display: block;
	max-width: 100%;
}

.icon,
.svg-icon {

	img,
	svg {
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
	}

	&.gradient {
		svg {
			fill: url(#gradient)
		}
	}
}

.hint {

	font-weight: 300;
	font-size: 14px;
	line-height: normal;
}
.section{
	padding-top:60px;
	padding-bottom:60px;
	&.full-height{
		min-height:100vh;
	}
	&.darken{
		background: #f5f5f5;
	}
	&__title{
		font-size: 32px;
		font-weight: 400;
		padding:0 0 1em;
		margin:0 0;
		line-height: 1.2;
		&.white{
			color:#fff;
		}
		&-decorator{
			display:block;
			margin: 15px auto;
			width:30px;
			height:4px;
			borader-radius:2px;
			background: #e8ce19;
			overflow:visible;
			position: relative;
			font-size:0;
			line-height: 0;
			&:before,&:after{
				display:block;
				content:"";
				width:30px;
				height:4px;
				background: #aaadaa;
				position: absolute;
				vertical-align: middle;
				right:-35px;
			}
			&:before{
				right:auto;
				left:-35px;
			}
			&.white{
				&:before,&:after{
					background: #fff;
				}
			}
		}
	}
	&__subtitle{
		font-size:22px;
		line-height:28px;
	}
	&__description{
		color:#747474;
		font-size: 18px;
		line-height: 28px;
	}
}

.feature__title{
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	padding:30px 0;
	&.white{
		color:#fff
	}
}

.feature__text{
		font-size: 14px;
		color: rgb(116, 116, 116);
		line-height: 1.571;
}

.circle{
	position: relative;
	margin:0 auto;
	canvas{
		margin:0 auto;
		display: block;
	}
	strong{
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		font-size: 40px;
		font-weight: 500;
	}
}

.shadow-box{	
	box-shadow: 0px 0px 10px 0px rgba(228, 229, 228, 0.75);
}
.round-box{	
	border-radius: 20px;
}

.card{
	padding:25px 15px;
	background: #fff;
	@extend .shadow-box;
	@extend .round-box;
	&.no-shadow{
		box-shadow:none;
	}
	&.square{
		border-radius: 0
	}
}


.feature-squares{
	overflow:hidden;
	border-radius: 20px;
	margin: 60px auto;
	.feature-square{
		color:#fff;
		padding:40px 20px 10px;
		display: flex;
		flex-flow:column nowrap;
		justify-content: center;
		&:nth-child(1){
			background: #64aa54;
		}
		&:nth-child(2){
			background: #92b740;
		}
		&:nth-child(3){
			background: #bcc22d;
		}
		&:nth-child(4){
			background: #e8ce19;
		}
		@at-root .employer &{
			&:nth-child(1){
				background: #64aa54;
			}
			&:nth-child(2){
				background: #92b73f;
			}
			&:nth-child(3){
				background: #afbe33;
			}
			&:nth-child(4){
				background: #7eb148;
			}
			&:nth-child(5){
				background: #a6bc36;
			}
			&:nth-child(6){
				background: #c3c42a;
			}
			&:nth-child(7){
				background: #99b93c;
			}
			&:nth-child(8){
				background: #bcc22d;
			}
			&:nth-child(9){
				background: #d6c921;
			}

		}

		.icon{
			margin:0 auto;
			position: relative;
			display: block;
			width:100px;
			height: 100px;
			border-radius: 50%;
			background: rgba(#fff,.3);
			border:2px solid #fff;
			svg,img{
				fill:#fff;
				position: absolute;
				display: block;
				max-width:56px;
				max-height:56px;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
			}
		}
		&__icon{
			display: block;
			margin: 0;
			width:34px;
			height: 34px;
			&[class*="fa"]{
				font-size:34px;
			}
			svg,img{
				max-width:100%;
				max-height:100%;
				display: block;
				margin:0 auto;
			}
		}
		&__text{
			font-size: 14px;
			line-height: 18px;
			padding-bottom: 30px;
			&.title{
				font-size: 32px;
				line-height: 38px;
			}
		}
	}
}