//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:			'Avenir Next LT Pro','Roboto', sans-serif; 
$cnFont:			'Avenir Next LT Pro Cn', sans-serif; 
$mainFontSize:		16px;
$mainFontHeight:	24px;
$mainFontWeight:	normal;
$mainFontColor:		#000;

// Variables => Colors
//----------------------------------------------------//
$default:$mainFontColor;
$themeColor: #64aa54;
$linkColor: $themeColor;
