<section class="section darken what-we-do employer">
	<div class="container">
		<h2 class="section__title text-center">
			What We Do?
			<div class="section__title-decorator">
			</div>
		</h2>

		<div class="section__description text-center">
				MyCuraCare works hard to make health care work for you and your employees! Our differentiated healthcare delivery
			model is focused on providing high quality, cost-effective solutions for surgical procedures and related ancillary
			care for your employees. The bottm line is It's a win-win for you and your employees!
		</div>
		<div class="row my-4">
			<div class="col-md ">
				<div class="card">
					<div class="icon text-center">
						<svg name="svg-quality" >
							<use xlink:href="#quality"  /></svg>
					</div>
					<div class="feature__title">
							Access to top-quality Healthcare
					</div>
					<div class="feature__text text-center">
							Members receive the best care when they need it the most from top-quality hospitals, surgery centers and physicians that excel in clinical performance and patient satisfaction.
					</div>
				</div>
			</div>
			<div class="col-md  mt-md-0 mt-4">
				<div class="card">
					<div class="icon text-center">
						<svg name="svg-costPredicability" >
							<use xlink:href="#costPredicability"  /></svg>
					</div>
					<div class="feature__title">
							cost savings and predictability
					</div>
					<div class="feature__text text-center">
							Lower costs and fewer surprises for both employers and members with a single, transparent bundled price (including readmission warranty) for common planned procedures.
					</div>
				</div>
			</div>
			<div class="col-md mt-md-0 mt-4">
				<div class="card">
					<div class="icon text-center">
						<svg name="svg-heart">
							<use xlink:href="#heart"   /></svg>
					</div>
					<div class="feature__title">
							Superior Member expirience
					</div>
					<div class="feature__text text-center">
							Patients have access to end-to-end concierge services and intuitive online tools, with zero out-of-pocket costs, so they can focus on recovery instead of medical bills.
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-5">
			<a href="how-it-works.html" class="btn inline pad">How it works</a>
		</div>
	</div>
</section>