<section class="section darken what-we-do">
	<div class="container">
		<h2 class="section__title text-center">
			What We Do?
			<div class="section__title-decorator">
			</div>
		</h2>

		<div class="section__description">
				MyCuraCare works hard to make health care work for you and your employees! Our differentiated healthcare delivery
			model is focused on providing high quality, cost-effective solutions for surgical procedures and related ancillary
			care for your employees. The bottm line is It's a win-win for you and your employees!
		</div>
		<div class="feature-squares row no-gutters">
			<div class="col-lg-3  col-sm-6 feature-square">
				<i class="icon">
					<svg  name="svg-orthopedic">
						<use xlink:href="#orthopedic"/>
					</svg>
				</i>
				<div class="feature__title">
					Orthopedic
				</div>
			</div>
			<div class="col-lg-3  col-sm-6 feature-square">
				<i class="icon">
					<svg  name="svg-spine">
						<use xlink:href="#spine" />
					</svg>
				</i>
				<div class="feature__title">
					Spine
				</div>
			</div>
			<div class="col-lg-3  col-sm-6 feature-square">
				<i class="icon">
					<svg  name="svg-cardiac">
						<use xlink:href="#cardiac" />
					</svg>
				</i>
				<div class="feature__title">
					Cardiac
				</div>
			</div>
			<div class="col-lg-3  col-sm-6 feature-square">
				<i class="icon">
					<svg  name="svg-bariatrics">
						<use xlink:href="#bariatrics" />
					</svg>
				</i>
				<div class="feature__title">Bariatrics (Weight&nbsp;loss)</div>
			</div>
		</div>
		<div class="text-center">
			<a href="#" class="btn inline pad">Sign IN TO SEE the procedures we support</a>
		</div>
	</div>
</section>