<section class="section darken what-we-do employer">
	<div class="container">


		<div class="row my-3 justify-content-lg-start justify-content-center flex-lg-nowrap">
			<div class="col-lg-8 pr-lg-5">
				<h2 class="section__title text-center">
					Contact Us
					<div class="section__title-decorator">
					</div>
				</h2>
				<div class="row">
					<div class=" col-sm-6">
						<div class="card no-shadow no-border">
							<div class="icon text-center">
								<svg name="svg-phone">
									<use xlink:href="#phone" /></svg>
							</div>
							<div class="feature__title">
								LOREM IPSUM
								<div class="mt-2">
									<a class="d-inline-block m-2" href="tel:+123 45 67 89 01">+123 45 67 89 01</a>
									<a class="d-inline-block m-2" href="tel:+123 45 67 89 01">+123 45 67 89 01</a>
								</div>
							</div>
							<div class="feature__text text-center">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt

							</div>
						</div>
					</div>
					<div class=" col-sm-6 mt-4 mt-sm-0">
						<div class="card no-shadow no-border">
							<div class="row align-items-start">
								<div class="col-3">

									<div class="icon text-center">
										<svg name="svg-location">
											<use xlink:href="#map-location" /></svg>
									</div>
								</div>
								<div class="col-9">
									<div class="feature__title text-left pt-0 pb-1">
										LOREM IPSUM</div>
									<p class="feature__text">

										<b>MyCuraCare</b><br>
										9709 Furman Court <br>
										Fort Worth, TX 76244
									</p>
								</div>
							</div>
							<div class="row mt-3 align-items-start">
								<div class="col-3">

									<div class="icon text-center">
										<svg name="svg-envelope">
											<use xlink:href="#envelope" /></svg>
									</div>
								</div>
								<div class="col-9">
									<div class="feature__title text-left pt-0 pb-1">
										LOREM IPSUM</div>
									<a href="mailto:help@mycuracare.com">help@mycuracare.com</a>
								</div>
							</div>
							<div class="feature__text text-center mt-4">
								Lorem ipsum dolor sit amet, consectetur
							</div>
						</div>
					</div>
				</div>
				<div class="mt-5">

					<h4 style="font-size:20px;">Having issues signing up or have other questions?</h4>
					<p class="feature__text" style="font-size:18px">MyCuraCare Concierge Team will be happy to help</p>
					<form action="">
						<div class="row mt-2">
							<div class="col-sm-6">
								<input type="text" placeholder="FULL NAME*" required>
							</div>
							<div class="col-sm-6">
								<input type="email" placeholder="YOUR EMAIL*" required>
							</div>
						</div>
						<textarea class="round-box  mt-4 bordered--theme bordered--thin" name="" id="" rows="5"
							placeholder="What Questions?"></textarea>
						<button class="mt-4 transparent">Contact concierge team</button>
					</form>
				</div>
			</div>
			<div class="col-lg-4 contact__map p-0 mt-4 mt-lg-0"
				style=" background:center / cover no-repeat url(http://www.r-graph-gallery.com/wp-content/uploads/2017/06/278_world_map_mapslibrary1.png)">

				<!-- Change highlighted location at 
					https://developers.google.com/maps/documentation/embed/start

					then copy/paste the embed code and add classes "w-100 h-100" to the iframe
				-->

				<iframe class="w-100 h-100" frameborder="0" style="border:0; "
					src="https://www.google.com/maps/embed/v1/place?q=9709%20Furman%20Court%20%20Fort%20Worth%2C%20TX%2076244&key=AIzaSyBQrLFBkq9pwebgDZ7zH1QSuA7JMccFFUo"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>

</section>