.contact{
	&__map{
		flex: 0 0 100%;
		flex-basis: calc((100vw - 66.66%) - (100vw - 100%)/2);
		max-width: calc((100vw - 66.66%) - (100vw - 100%)/2);
		@include b(992){
			height:480px;
			width:100%;
			max-width:100%;
			flex-basis:100%;
		}
	}
}