<section class="jumbo" style="background-image:url(@@bg)">
		<div class="container">
			<h1 class="jumbo__title condensed upper">A cost effective way to quality surgery</h1>
			<div class="jumbo__actions">
				<a href="how-it-works.html" class="btn white inline pad">See how it works</a>
			</div>
		</div>
	</section>