.jumbo{
	position: relative;
	transition:all .3s ease-in-out;
	max-height:100vh;
	min-height:640px;
	height:880px;
	padding:120px 0 60px;
	display:flex;
	align-items:flex-start;
	flex-flow:column nowrap;
	justify-content:center;
	background-position: center top;
	background-size: cover;
	&.full-height{
		height:auto;
		min-height:100vh;
		max-height:none;
	}
	@include b(tablet){
		min-height:0px;
		height:auto;
		padding: 100px 0;
	}
	&__title{
		margin-top: 60px;
		color:#fff;
		font-weight: 500;
		font-size: 80px;
		width:700px;
		max-width:100%;
		line-height: 1;
		@include b(tablet){
			font-size: 48px;
		}
	}
	&__actions{
		margin-top: 70px;
		@include b(tablet){
			margin-top: 30px;
		}
	}
	&.small{
		height: 190px;
		min-height:190px;
		max-height:none;
		.jumbo__title{
			font-size: 40px;
			width:auto
		}
	}
}

.sticky,.stuck{
	&+.jumbo{
		padding-top:70px;
		&.small{
			padding:0!important;
			margin-top:70px;
			.jumbo__title{
				margin:0
			}
		}
	}
} 
.jumbo.jumbo--blog{
	height:calc(80vh - 70px)
}