<section class="section subscribe">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl text-xl-left text-center">
				<div class="section__title pb-2">
					Want to stay in touch?
				</div>
				<div class="section__subtitle capitalize">Please join our newsletter</div>
			</div>
			<div class="col-xl-8 mt-xl-0 mt-4">
				<form action="" class="subscribe__form row  align-items-center" >
					<div class="col-md flex-grow-1">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" class="round semi-transparent bordered" placeholder="Full Name" required>
							</div>
							<div class="col-sm-6 mt-sm-0 mt-4">
								<input type="text" class="round semi-transparent bordered" placeholder="Full Name" required>
							</div></div>
					</div>
					<div class="col-md flex-grow-0 mt-md-0 mt-4 text-center" style="-ms-flex-positive:1 !important">
						<button class="white inline pad">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>