button,
.btn {
	box-shadow: none;
	display: block;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	border: 1px solid transparent;
	outline: 0;
	background: $themeColor;
	color: #fff;
	border-radius: 25px;
	height: 50px;
	padding: 0 40px;
	font-size: $mainFontSize;
	font-weight: 600;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-family: $cnFont;
	transition: all .15s ease-in-out;
	max-width:100%;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	@extend .upper;
	&.wide {
		width: 100%;
	}

	&.inline {
		display: inline-block;
	}

	&.pad {
		padding: 0 40px;
	}

	&.transparent {
		border: 2px solid $themeColor;
		background: transparent;
		color: $themeColor;
		&:hover,
		&:focus {
			color: #fff;
			background: $themeColor;
			border-color: transparent;
		}
		&.dark{
			border-color:#8A8A8A;
			color:#8A8A8A;
			&:hover{
				background: #8A8A8A;
				color:#fff;
			}
		}
	}

	&:hover,
	&.focus,
	&:focus {
		outline:0;
		color: $themeColor;
		background: #fff;
		border-color: transparent;
	}

	&:active,
	&.tab__link--active {
		background: $themeColor;
		color: #fff;
	}
	&.white {
		background: #fff;
		color: $themeColor;
		&:hover{
			background: $themeColor;
			color: #fff;
		}
	}
	&.no-border{
		border:0;
	}
	&.round{
		padding:0;
		border-radius: 50%;
	}
	&-separator{
		height:32px;
		width:1px;
		display: inline-block;
		vertical-align: middle;
		background: #b1d4a9;
		margin: -5px 10px 0;
	}
}

.back-btn {
	@include b(tablet) {
		.btn,
		button {
			font-size: 12px;
			border: 10px solid transparent;
			background: transparent;
			box-shadow: 0 0 0 20px #7094f7 inset;
			padding: 0;
			width: 44px;
			border-radius: 50%;
			line-height: 24px;
		}
	}
}