
.card{
	border-radius: 20px;
	padding:25px 15px;
	background: #fff;
	@extend .shadow-box;
	@extend .round-box;
	&.no-shadow{
		box-shadow:none;
	}
	&.square{
		border-radius: 0
	}
	&.little-radius{
		border-radius: 5px
	}
	&.no-border{
		border:0;
	}
}
