input,.input{
	font-size:18px;
	font-weight: 400;
	border:0;
	border-bottom:2px solid #8bbf7f;
	display:block;
	width:100%;
	height:50px;
	color:$mainFontColor;
	font-family:$mainFont;
	background: transparent;
	@include placeholder(#000, 300,14px);
	&.semi-transparent{
		background: rgba(#fff,.3);
		color:#fff;		
		@include placeholder(#fff, 300,14px);
		padding:0 15px;
	}
	&.round{
		border-radius: 25px;
		padding: 0 35px;
	}
	&.bordered{
		border:1px solid currentcolor;
		&--theme{
			border:2px solid $themeColor;
			background: white;
		}
	}
	&.white{
		color:#fff;		
		border-color:#fff;
		@include placeholder(#fff, 300,14px);
	}
	&.field-validation-error,&.input-validation-error{
		border-color:red!important
	}
}
.input-box{
	padding-top:25px;
	position: relative;
	label{
		position:absolute;
		top:0;
		font-size:18px;
		font-weight:bold;
	}
	&.icon-right{
		.icon{
			position: absolute;
			right:0;
			bottom:12px;
		}
	}
	&.inline-value{
			border-bottom:2px solid #8bbf7f;
			display: flex;
			align-items: center;
			flex-wrap:wrap;
		label{
			flex:0 1 auto;
			color:#8b8b8b;
			font-size:14px;
			font-weight: 400;
			position: relative;
			white-space:nowrap;
			margin:0 .5em 0 0
		}
		input{
			flex: 1 1 auto;
			border:0;
			width:auto;
			&.align-right{
				text-align:right;
			}
			&.green-text{
				color:$themeColor
			}
		}
	}
}


label{
	font-size:14px;	
	text-transform:uppercase;
	&.light{
		font-weight:300
	}
}

textarea{
	background:white;
	display:block;
	width:100%;
	padding:20px 45px;
	@include placeholder(#000, 300, 14px);
	&:focus,&.focused,&.bordered--theme{
		border:2px solid $themeColor;
	}
	&.bordered--thin{
		border-width:1px;
	}
}