.popup {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:870px;
	max-width:95%;
	max-height:95%;
	display:none;
	background:#fff;
	border-radius: 10px;
	box-shadow: 0px 15px 30px 0px rgba(0,0,0, 0.3);	  
	padding: 40px 50px 50px;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	&>*{		
		-webkit-transform: translateZ(0px);
	}
	&.gutter {
		padding: 40px 195px 50px;
	}
	&.narrow {
		min-width:0;
		width:555px;
		@include b(1200){
			width:400px;
		}
	}
	@include b(1200){
		padding:25px 15px 25px;
		&.gutter {
			padding:25px 15px 25px;
		}
	}
	&-wrapper {
		position:fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: rgba(#000,.3);
		z-index:9999;
	}
	
    &__heading {
        text-align:center;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
        padding:20px 0 0;
        margin: 0;
        position: relative;
		@include b(tablet){
			font-size:20px;    
			padding:20px 0;
		}
    }
    &__content{
        font-size:19px;
    }
    &__action{
        margin: 30px 0 0;
    }
}
.popup-wrapper > .btn--close {
	position: absolute;
	top: 12px;
	right:20px;
}
.popup > .btn--close {
	position: absolute;
	top: 12px;
	right:20px;
	width:30px;
	height:30px;
	fill: $themeColor
}