
select{
	font-size:18px;
	font-weight: 400;
	border:0;
	border-bottom:2px solid #8bbf7f;
	display:block;
	width:100%;
	height:50px;
	color:$mainFontColor;
	font-family:$mainFont;
	background: transparent;
	@include placeholder(#8b8b8b, 400);
	appearance:none;
	&.semi-transparent{
		background: rgba(#fff,.3);
		color:#fff;		
		@include placeholder(#fff, 400);
		padding:0 15px;
	}
	&.round{
		border-radius: 25px;
		padding: 0 35px;
	}
	&.bordered{
		border:1px solid currentcolor;
	}
	
	&.field-validation-error,&.input-validation-error{
		& ~ .select2 .select2-selection {
			border-color:red!important
		} 
	}
}