@@include('src/modules/head/head.html',{"title":"projectName", "class":"index"})
@@include('src/modules/header/header.html',{})


<section class="jumbo full-height" style="background-image:url(./media/img/home/jumbo-4.jpg)">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<h1 class="jumbo__title condensed upper">A cost effective way to quality surgery</h1>
				<div class="jumbo__actions">
					<a href="how-it-works.html" class="btn white inline pad">See how it works</a>
				</div>
			</div>
			<div class="col-md-6 mt-5 mt-md-0">
				<div class="card py-4 px-5 no-border no-shadow">

					<h2 class="section__title text-center pb-1">
						Become a founding member
						<div class="section__title-decorator"></div>
					</h2>
					<h3 class="text-center pb-2">Plan Benefits</h3>
					<p class="text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					</p>
					<div class="row">
						<div class="col-sm-6 mt-3">
							<ul class="top-marker">
								<li>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
						<div class="col-sm-6 mt-3">
							<ul class="top-marker">
								<li>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
						<div class="col-sm-6 mt-3">
							<ul class="top-marker">
								<li>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
						<div class="col-sm-6 mt-3">
							<ul class="top-marker">
								<li>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
					</div>
					<div class="mt-4 text-center">
						<a id="becomeMember" class="btn disabled transparent inline pad" href="@Url.Action(" PayPalDemo", "Home" )">Become a member
							<span class="btn-separator"></span> $40</a>
					</div>
					<div class="mt-4 pt-4 border-top" style="border-color:#e0eedd">
						<input type="checkbox" id="agreeTerms" onchange="document.getElementById('becomeMember').classList.toggle('disabled')">
						<label for="agreeTerms" style="text-transform:none;">
							<span>Check here to confirm that you have read and agree to <a
									href="terms-conditions.html">MyCuraCare Membership Terms and Condition</span></a>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section different member">
	<div class="container">
		<h2 class="section__title text-center">
			It's simple
			<div class="section__title-decorator"></div>
		</h2>
		<div class="differences">
			<div class="difference p-0 m-0"></div>
			<div class="difference px-4 py-4">
				<a href="#" class="difference__image"
					style="flex:0 0 770px;max-width:100%;background-image: url(./media/img/home/video.png); background-size:contain"></a>
				<div class="difference__content flex-shrink-1 flex-grow-0" style="-ms-flex-positive:1 !important;">
					<div class="difference__icon icon">
						<svg name="svg-stethoscope" >
							<use xlink:href="#stethoscope" />
						</svg>
					</div>
					<div class="feature__title">
						Access to top quality surgeons
					</div>
					<div class="feature__text">
						Schedule your procedure with high confidence knowing that you will get highly qualified and the
						best surgeons in
						the industry with exceptional records.
					</div>
					<div class="mt-5 text-center">
						<button class="inline transparent">watch video</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section darken what-we-do employer">
	<div class="container">

		<h2 class="section__title text-center">
			Popular Questions
			<div class="section__title-decorator">
			</div>
		</h2>
		<div class="popular-questions">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="icon">
						<svg  name="svg-brain">
							<use xlink:href="#brain" />
						</svg>
					</div>
				</div>
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">

					<div class="feature__title">
						The most asked questions
					</div>
					<div class="feature__text">
						<div class="questions m-0" id="questions">
							<div class="question">
								<a class="question__title font-weight-normal text-left" data-toggle="collapse"
									data-target="#q1" aria-expanded="false" aria-controls="collapseExample">
									Schedule your procedure with high confidence knowing that you will get highly
									qualified and the best surgeons ?
								</a>
								<div class="question__answer collapse" data-parent="#questions" id="q1">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
									reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim
									id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
									voluptas sit
									aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
									voluptatem
									sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
									consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
									magnam
									aliquam quaerat voluptatem.
								</div>
							</div>
							<div class="question">
								<a class="question__title font-weight-normal text-left" data-toggle="collapse"
									data-target="#q2" aria-expanded="false" aria-controls="collapseExample">
									Schedule your procedure with high confidence knowing that you will get highly
									qualified and the best surgeons ?
								</a>
								<div class="question__answer collapse" data-parent="#questions" id="q2">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
									reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim
									id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
									voluptas sit
									aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
									voluptatem
									sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
									consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
									magnam
									aliquam quaerat voluptatem.
								</div>
							</div>
							<div class="question">
								<a class="question__title font-weight-normal text-left" data-toggle="collapse"
									data-target="#q3" aria-expanded="false" aria-controls="collapseExample">
									Schedule your procedure with high confidence knowing that you will get highly
									qualified and the best surgeons ?
								</a>
								<div class="question__answer collapse" data-parent="#questions" id="q3">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
									reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim
									id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
									voluptas sit
									aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
									voluptatem
									sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
									consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
									magnam
									aliquam quaerat voluptatem.
								</div>
							</div>
							<div class="question">
								<a class="question__title font-weight-normal text-left" data-toggle="collapse"
									data-target="#q4" aria-expanded="false" aria-controls="collapseExample">
									Schedule your procedure with high confidence knowing that you will get highly
									qualified and the best surgeons ?
								</a>
								<div class="question__answer collapse" data-parent="#questions" id="q4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut
									labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
									reprehenderit in
									voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim
									id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
									voluptas sit
									aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
									voluptatem
									sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
									consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
									magnam
									aliquam quaerat voluptatem.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4 mt-lg-0">
					<img src="./media/img/home/questions.png" class="d-block mx-auto" alt="">
				</div>
			</div>
		</div>
	</div>
</section>



@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')