@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
			<div class="card p-5 text-center" style="width:630px; max-width:100%;">
				<h2 class="section__title text-center">Login</h2>
				<div class="feature__text c-black text-center">Please login with your MyCuraCare credentials.</div>
				<form action="">
					<input type="text" placeholder="EMAIL OR PHONE" class="upper mt-5">
					<input type="password" name="Password" placeholder="PASSWORD" class="upper mt-5">
					<div class="mt-5">
						<button class="inline">login</button>
					</div>
					<div class="mt-5 row flex-wrap justify-content-center justify-content-sm-between align-items-center">
							<!-- <div class="col-sm mb-4 mb-sm-0 flex-shrink-1 flex-grow-0 text-nowrap" style="-ms-flex-positive:1 !important;">
									<a href="#" class=" d-block"><i>Forgot password?</i></a>
	
							</div> -->
							<div class="col-sm flex-shrink-1 flex-grow-0 text-nowrap" style="-ms-flex-positive:1 !important;">
									<a href="#"  class="d-block"><i>Create an account</i></a>
	
							</div>
					</div>
				</form>
			</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')