@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
		<div class="card p-sm-5 p-4 text-center" style="width:630px; max-width:100%;">
			<div class="steps__header">

					<div class="step complete ">
							<div class="title">
								<span class="index"></span>
								<span class="text"> Create Account</span>
							</div>
						</div>
						<div class="step active">
								<div class="title">
									<span class="index"></span>
									<span class="text"> Become a Member</span>
								</div>
						</div>
			</div>
			<form action="">
				<div class="col mt-5">
					<div class="input-box inline-value">
							<label for="">PLAN NAME:</label>
							<input type="text" placeholder="PLAN NAME" class="upper" value="Founding Member" >
					</div>
				</div>
				<div class="col mt-5">
					<div class="input-box inline-value">
							<label for="">Annual Cost:</label>
							<input type="text" placeholder="PLAN NAME" class="upper green-text align-right" value="$40" >
					</div>
				</div>

				<div class="col-12 mt-5">
					<a class="btn inline" href="#">checkout with paypal</a>
				</div>
				<div class="col-12 mt-5">
					Already registered? <a href="login.html">Login</a>
				</div>
			</form>
		</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')