@@include('src/modules/head/head.html',{"title":"projectName", "class":"index"})
@@include('src/modules/header/header.html',{"class":"stuck"})

@@include('src/modules/jumbo/jumbo-small.html',{"bg":"./media/img/bg/how-it-works.png", "title":"PRIVACY POLICY"})
<section class="section darken">
	<article class="">
		<div class="container">
		<header class="article__header">
			<h1 class="article__title">Lorem Ipsum is simply dummy text of the printing and typesetting industry
			</h1>
		</header>
		<main class="article__content">
			<h2>What is Lorem Ipsum?</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
				and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
				leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
				with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
				publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<br>
			<h2>Responsibilities</h2>
			<ul class="ticked">
					<li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </li>
					<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. </li>
					<li>Many desktop publishing packages and web page editors now use.</li>
					<li>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </li>
					<li>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
			</ul><br>
			<h2>Functional requirements</h2>

			<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
				Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
				their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
			</p>
			<br>
			<ul class="ticked">
					<li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </li>
					<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. </li>
					<li>Many desktop publishing packages and web page editors now use.</li>
					<li>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </li>
					<li>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
			</ul>
			<br>
			<h2>Personality & attitude</h2>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
				alteration in some form, by injected humour, or randomised words which don't look even slightly
				believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
				anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
				tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
				It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
				to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
				from repetition, injected humour, or non-characteristic words etc.</p>
		</main></div>
	</article>

</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')