@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
		<div class="card p-5 text-center" style="width:630px; max-width:100%;">
			<div class="steps__header">

					<div class="step complete ">
							<div class="title">
								<span class="index"></span>
								<span class="text"> Get Started</span>
							</div>
						</div>
						<div class="step active">
								<div class="title">
									<span class="index"></span>
									<span class="text">Create Account</span>
								</div>
						</div>
			</div>
			<div class="mt-5 text-left ml-n4"><a href="register.html">&laquo;Back</a></div>
			<div class="feature__text c-black text-center mt-4 mx-auto" ><br>To ensure the
				privacy and security of your health information,
				we must also verify your identity before creating your account.</div>
			<form action="" class="row">
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="COORDINATOR FIRST NAME*" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="COORDINATOR LAST NAME*" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="TITLE*" class="UPPER">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="NUMBER OF EMPLOYEES" class="upper">
				</div>
				<div class="col-12 mt-5">
					<input type="text" placeholder="COMPANY*" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="TAX ID*" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="text" placeholder="COORDINATOR FULL NAME" class="upper">
				</div>
				<div class="col-12 mt-5">
					<div class="feature__text">
						We will send to the email provided your MyCuraCare assigned number that you can also provide to your employees for registration
					</div>
				</div>

				<div class="col-12 mt-5">
					<button class="inline">create account</button>
				</div>
				<div class="col-12 mt-5">
					Already registered? <a href="login.html">Login</a>
				</div>
			</form>
		</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')