@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
		<div class="card p-5 text-center" style="width:630px; max-width:100%;">
			<div class="steps__header">
				<div class="step active ">
					<div class="title">
						<span class="index"></span>
						<span class="text"> Get Started</span>
					</div>
				</div>
				<div class="step">
						<div class="title">
							<span class="index"></span>
							<span class="text">Create Account</span>
						</div>
				</div>
			</div>
			<div class="feature__text c-black text-center mt-5 mx-auto" style="width:270px; max-width:100%;"><br> Create an
				account to take the first step
				towards a superior surgery experience.</div>
			<form action="" class="row">
				<div class="col-sm-6 mt-5">
					<input type="email" placeholder="EMAIL" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="tel" placeholder="PHONE" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="password" placeholder="PASSWORD" class="upper">
				</div>
				<div class="col-sm-6 mt-5">
					<input type="password" placeholder="CONFIRM PASSWORD" class="upper">
				</div>

				<div class="col-12 mt-5">
								
						<select data-class="themeColor">
							<option>How did you hear about MyCuraCare*</option>
							<option value="1">New York</option>
							<option value="2">California</option>
						</select>
				</div>

				<div class="col-12 mt-5">
					<a href="register-account.html" class="btn inline">next</a>
				</div>
				<div class="col-12 mt-5">
					Already registered? <a href="login.html">Login</a>
				</div>
			</form>
		</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')