@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
			<div class="card p-5 text-center" style="width:630px; max-width:100%;">
				<h2 class="section__title text-center">Reset Password</h2>
				<div class="feature__text c-black text-center">
						Please enter your email or cell phone number on file to reset your password 
						and receive temporary passcode via email or text.</div>
				<form action="">
					<input type="text" placeholder="EMAIL OR PHONE" class="upper mt-5">
					<input type="text" placeholder="PASSWORD" class="upper mt-5">
					<div class="mt-5">
						<a href="reset-password-passcode.html" class="btn inline">Continue</a>
					</div>
					<div class="mt-5">
									Need Help? Call <a href="tel:123456789" ><i>123456789</i></a>
					</div>
				</form>
			</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')