@@include('src/modules/head/head.html',{"title":"projectName", "class":"login-page"})
@@include('src/modules/header/header-login.html',{})
<section class="jumbo full-height">
	<div class="container pt-5 d-flex align-items-center justify-content-center">
			<div class="card p-5 text-center" style="width:630px; max-width:100%;">
				<h2 class="section__title text-center">Reset Password</h2>
				<div class="feature__text c-black text-center">
						The passcode has sent to your email or phone. 
						Please check and fill the form below to set new password</div>
				<form action="" style="width:220px; max-width:100%;" class="mx-auto">
					<input type="text" placeholder="ENTER PASSCODE" class="upper mt-5">
					<input type="text" placeholder="ENTER NEW PASSWORD" class="upper mt-5">
					<div class="mt-5">
						<a href="reset-password-passcode.html" class="btn inline">Save</a>
					</div>
				</form>
			</div>
	</div>
</section>
@@include('src/modules/foot/foot.html')