<div class="container">
	<div class="row align-items-end flex-sm-nowrap">
		<div class="col-sm-9 flex-sm-shrink-1 flex-sm-grow-0">
			<div class="input-box">
				<input type="search" placeholder="Enter Search" class="faq" id="searchFAQ">
				<label for="" class="text-capitalize">Have Any Questions</label>
			</div>
		</div>
		<div class="col-sm mt-4 mt-sm-0">
			<button class="w-100" id="btnFaqSearch">Search
				<i class="ml-2 fas fa-search"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div class="questions" id="questions">
				<div class="question">
					<a class="question__title" data-toggle="collapse" data-target="#q1" aria-expanded="false"
						aria-controls="collapseExample">
						Question 1
					</a>
					<div class="question__answer collapse" data-parent="#questions" id="q1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
						architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
						sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
						adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
						aliquam quaerat voluptatem.
					</div>
				</div>
				<div class="question">
					<a class="question__title" data-toggle="collapse" data-target="#q2" aria-expanded="false"
						aria-controls="collapseExample">
						Question 2
					</a>
					<div class="question__answer collapse" data-parent="#questions" id="q2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
						architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
						sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
						adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
						aliquam quaerat voluptatem.
					</div>
				</div>
				<div class="question">
					<a class="question__title" data-toggle="collapse" data-target="#q3" aria-expanded="false"
						aria-controls="collapseExample">
						Question 3
					</a>
					<div class="question__answer collapse" data-parent="#questions" id="q3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
						architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
						sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
						adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
						aliquam quaerat voluptatem.
					</div>
				</div>
				<div class="question">
					<a class="question__title" data-toggle="collapse" data-target="#q4" aria-expanded="false"
						aria-controls="collapseExample">
						Question 4
					</a>
					<div class="question__answer collapse" data-parent="#questions" id="q4">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
						architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
						sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
						adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
						aliquam quaerat voluptatem.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row align-items-end flex-sm-nowrap">
		<div class="col-sm-9 flex-sm-shrink-1 flex-sm-grow-0">
			<div class="input-box">
				<label for="" class="text-capitalize">Email support</label>
				<p class="mt-2">Click the button “Contact ”, ask your question and receive a responce to the email</p>
			</div>
		</div>
		<div class="col-sm mt-4 mt-sm-0">
			<button class="js-popup btn w-100" data-popup="#contact">
				Contact
			</button>
		</div>
	</div>
</div>
<div class="popup" id="contact">
	<div class="section__title text-center">Contact</div>
	<p class="text-center feature__text" style="font-size:18px">MyCuraCare Concierge Team will be happy to help</p>
					<form action="">
						<div class="row mt-2">
							<div class="col-sm-6">
								<input type="text" placeholder="FULL NAME*" required>
							</div>
							<div class="col-sm-6">
								<input type="email" placeholder="YOUR EMAIL*" required>
							</div>
						</div>
						<textarea class="round-box  mt-4 bordered--theme bordered--thin" name="" id="" rows="5" placeholder="What Questions?"></textarea>
						<div class="row">
							<div class="col flex-grow-0" style="-ms-flex-positive:1 !important;">
									<button class="mt-4 transparent">Submit</button></div>
							<div class="col flex-grow-0"style="-ms-flex-positive:1 !important;">
									<button class="mt-4 transparent dark js-popup-close">Cancel</button></div>
						</div>
					</form>
</div>