.questions{
	margin: 35px 0;
	.question{
		border-bottom:1px solid #cacaca;
		&__title{

			font-size: 18px;
			color: #1c1c1c;
			font-weight: 600;
			display: block;
			line-height: 1.2em;
			padding: 20px 45px 20px 0;
			position: relative;
			&:after{
				content:"";
				position: absolute;
				display: block;
				top:24px;
				right:5px;
				width:10px;
				height:10px;
				border:1px solid $themeColor;
				border-width: 0 1px 1px 0;
				transform:rotate(45deg)
			}
			&[aria-expanded="true"]{
				&:after{
					transform:rotate(-135deg)
				}
			}
		}
		&__answer{
			font-size: 14px;
			color: #1c1c1c;
			font-weight: 400;
			padding:0 0 25px;
		}
	}
}