<div class="container">
	<div class="posts">
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
		<div class="posts__post card">
			<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)"></div>
			<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
			<div class="post__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<div class="post__short">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industry's standard dummy text ever since...
			</div>
			<div class="post__read-more">
				<a href="blog-post.html">Read More</a>
			</div>
		</div>
	</div>
	<div class="blog__paging">
		<a href="#" class="paging-link nav">&laquo;</a>
		<a href="#" class="paging-link nav">&lt;</a>
		<a href="#" class="paging-link">1</a>
		<a href="#" class="paging-link active">2</a>
		<a href="#" class="paging-link">3</a>
		<a href="#" class="paging-link">4</a>
		<a href="#" class="paging-link nav">&gt;</a>
		<a href="#" class="paging-link nav">&raquo;</a>
	</div>
</div>