.blog {
	&__paging{
		padding:15px 0;
		text-align: center;
		.paging-link{
			color:#000;
			display: inline-block;
			vertical-align: middle;
			padding:10px;
			&.nav,&.active{
				color:$themeColor;
			}
		}
	}
}

.posts {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	margin: 0 -15px;

	&__post {
		margin: 15px;
		flex: 0 1 33.33%;
		flex-basis: calc(33.33% - 30px);
		min-width: 290px;
	}

	.post {
		&__img {
			height: 270px;
			margin: -25px -15px 25px;
			border-radius: 20px 20px 0 0;
		}

		&__date {
			font-size: 14px;
			color: #747474;
			padding: 10px 0;
		}

		&__short {
			font-size: 14px;
			color: #747474;
		}

		&__read-more {
			padding: 10px 0 0;
		}
	}
}

.article {
	margin-top: -160px;
	padding: 70px;

	@include b(tablet) {
		padding: 15px;
		margin: 0;
	}

	&__header {
		padding: 15px 0;
		margin: 0 0 15px;
		border-bottom: 1px solid #AEAEAE;
	}

	&__title {
		font-size: 36px;
		@include b(tablet) {
			font-size:28px
		}
	}

	&__date {
		font-size: 14px;
		color: #747474;
	}

	&__content {
		h2 {
			font-size: 16px;
			text-transform: uppercase;
			padding: 0;
			margin: 1.2em 0;
			line-height: 1.2em;
		}

		p {
			font-size: 14px;
			color: #747474;
			margin: 0;
			padding: 0;
			line-height: 1.4em;

			&+p {
				margin: 1.2em 0 0;
			}
		}
	}
}