<section class="jumbo jumbo--blog" style="background-image: url(./media/img/home/jumbo-2.jpg)">
</section>
<section class="section">
	<div class="container">
		<article class="article card no-shadow no-border">
			<header class="article__header">
				<h1 class="article__title">Lorem Ipsum is simply dummy text of the printing and typesetting industry
				</h1>
			</header>
			<div class="article__date">
				<i class="far fa-calendar-alt"></i> 26.12.2008
			</div>
			<main class="article__content">
				<h2>What is Lorem Ipsum?</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
					with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h2>Why do we use it?</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when
					looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
					distribution of letters, as opposed to using 'Content here, content here', making it look like
					readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
					default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
					infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
					(injected humour and the like).</p>
				<h2>Where does it come from?</h2>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
					classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
					professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
					consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
					literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
					of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
					book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
					Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
					Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
					their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
				</p>
				<h2>Where can I get some?</h2>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
					alteration in some form, by injected humour, or randomised words which don't look even slightly
					believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
					anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
					tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
					It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
					to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
					from repetition, injected humour, or non-characteristic words etc.</p>
			</main>
		</article>
	</div>

</section>
<section class="section darken">
	<div class="container">
		<h2 class="section__title text-center">
			Similar Articles
			<div class="section__title-decorator">
			</div>
		</h2>
		<div class="posts">
			<div class="posts__post card">
				<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)">
				</div>
				<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
				<div class="post__date">
					<i class="far fa-calendar-alt"></i> 26.12.2008
				</div>
				<div class="post__short">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since...
				</div>
				<div class="post__read-more">
					<a href="blog-post.html">Read More</a>
				</div>
			</div>
			<div class="posts__post card">
				<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)">
				</div>
				<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
				<div class="post__date">
					<i class="far fa-calendar-alt"></i> 26.12.2008
				</div>
				<div class="post__short">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since...
				</div>
				<div class="post__read-more">
					<a href="blog-post.html">Read More</a>
				</div>
			</div>
			<div class="posts__post card">
				<div class="post__img" style="background: center / cover no-repeat url(./media/img/home/jumbo-2.jpg)">
				</div>
				<div class="POST__TITLE">The standard Lorem ipsum passage, used since 1500s</div>
				<div class="post__date">
					<i class="far fa-calendar-alt"></i> 26.12.2008
				</div>
				<div class="post__short">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since...
				</div>
				<div class="post__read-more">
					<a href="blog-post.html">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>