.select2-container {
	width: 100% !important
}

.select2-results__option {
	padding: 5px 20px;
	color: $mainFontColor !important;
	font-size: 18px;
	font-weight: 400;

	&:before {
		display: none;
	}

	&:last-child {
		padding-bottom: 5px
	}
}

.select2-container--default {

	.select2-selection--single,
	.select2-selection--multiple {
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid #fff;
		background: transparent;
		line-height: 50px;
		height: 50px;

		.select2-search__field {
			line-height: 50px;
			height: 50px;
			margin: 0;

		}
	}

	&.select2-container--focus {
		.select2-selection--multiple {
			border: 0;
			border-bottom: 1px solid #cbccd1;
		}
	}

}

.select2-container--default {

	.select2-selection--single,
	.select2-selection--multiple {
		padding: 0 40px 0 0;

		.select2-selection__rendered {
			color: #fff;
			padding: 0;
			line-height: 50px;
			font-weight: 400;
			white-space: nowrap;
			word-break: normal;
			height: 50px;
			overflow: hidden;
			position: relative;
			display: block;
			text-align:left;
			flex-flow: row nowrap;
		}

		.select2-selection__choice {
			float: none;
			line-height: 1em;
			background: transparent;
			border: 0;
			text-decoration: underline;

		}
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: lighten($themeColor, 10%) !important;
	color: #fff !important
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background: #ddd !important;
}

.select2-dropdown {
	border: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
	&:before {
		display: none;
	}
}

.select2-selection__arrow {
	top: auto !important;
	bottom: 25px !important;
	right: 15px !important;
	height: 5px !important;
	width: 5px !important;

	b {
		bottom: 20px;
		right: 15px;
		border: 1px solid #fff !important;
		border-width: 0 1px 1px 0 !important;
		width: 5px !important;
		height: 5px !important;
		transform: rotate(45deg)
	}
}

.select2-container--open {
	.select2-selection__arrow {
		b {
			transform: rotate(-135deg)
		}
	}

}

.themeColor {

	.select2-selection--single,
	.select2-selection--multiple {
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid #fff;
		background: transparent;
		line-height: 50px;
		height: 50px;

		.select2-search__field {
			line-height: 50px;
			height: 50px;
			margin: 0;

		}
	}

	.select2-selection--single,
	.select2-selection--multiple {
		border-bottom: 2px solid $themeColor !important;

	}

	&.select2-container--focus {

		.select2-selection--multiple,
		.select2-selection--single {
			border: 0;
			border-bottom: 1px solid $themeColor;
		}
	}




	.select2-selection--single,
	.select2-selection--multiple {
		padding: 0 40px 0 0;

		.select2-selection__rendered {
			color: black !important;
		}

	}

	.select2-selection__arrow {
		b {
			border-color: $themeColor !important;

		}
	}



}