.what-we-promise{
	&.employer{
		background: url(../img/home/promise.jpg) center no-repeat;
		background-size: cover;
	}
}
.promise-services{
	flex:0 1 300px;
	max-width:100%;
	ul{
		padding:15px 40px;
		li{padding: 0;
			&:before{
				display: none;
			}
			a{
				display: block;
				height: 55px;
				line-height: 55px;
				white-space: nowrap;
				position: relative;
				border-bottom: 1px solid #aaadaa;
				color:#222;
				&:after{
					display: block;
					position: absolute;
					content:"";
					width: 8px;
					height: 8px;
					border:1px solid currentColor;
					border-width:1px 1px 0 0;
					transform:rotate(45deg) translateY(-50%);
					top:50%;
					right:0;
				}
				&:hover{
					color:$themeColor;
					border-bottom: 1px solid #aaadaa;
				}
			}
		}
	}
}