<section class="section what-we-promise member">
	<div class="container">
		<h2 class="section__title text-center">
			What We Promise?
			<div class="section__title-decorator">
			</div>
		</h2>
		<div class="row circles pb-0">
			<div class="col-md-4 mb-5">
				<div class="circle promise" data-label-color="#64aa54" data-fill="{&quot;color&quot;: &quot;#64aa54&quot;}"
				 data-value="0.75" data-size="155"><strong></strong></div>
				<div class="feature__title">Lower Complications</div>
				<div class="feature__text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="circle promise" data-label-color="#e8ce19" data-fill="{&quot;color&quot;: &quot;#e8ce19&quot;}"
				 data-value="0.45" data-size="155"><strong></strong></div>
				<div class="feature__title">Lower Readmissions</div>
				<div class="feature__text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="circle promise custom-label" data-suffix="X" data-label-color="#000" data-fill="{&quot;color&quot;: &quot;#d6d7d6&quot;}"
				 data-value="0.03" data-size="155"><strong></strong></div>
				<div class="feature__title">More expirienced</div>
				<div class="feature__text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.
				</div>
			</div>
		</div>
	</div>
</section>