<section class="section what-we-promise employer">
	<div class="container">
		<h2 class="section__title text-center white">
			What We Promise?
			<div class="section__title-decorator">
			</div>
		</h2>
		<div class="section__subtitle upper text-center text-white mt-n4">
			Lower Cost. Lower Mortality. Lower Readmission.
		</div>
		<div class="row no-gutters align-items-end mt-5">
			<div class="col-xl promise-services mr-xl-5 card no-shadow mx-auto">
				<ul>
					<li>
							<a href="#">
								Knee replacement
							</a>
							<a href="#">
									Cervical spinal fusion
							</a>
							<a href="#">
									Hip replacement
							</a>
							<a href="#">
									Lumbar spinal fusion
							</a>
							<a href="#">
									Coronary bypass
							</a>
							<a href="#">
									Outpatient procedures
							</a>
					</li>
				</ul>
			</div>
			<div class="col-xl mt-5 mt-xl-0">

				<div class="row circles pb-0">
					<div class="col-md-4 mb-5">
						<div class="circle promise" data-label-color="#64aa54" data-empty-fill="#f5f5f5" data-fill="{&quot;color&quot;: &quot;#64aa54&quot;}"
						 data-value="0.75" data-size="155"><strong></strong></div>
						<div class="feature__title white pb-0">Lower Cost</div>
					</div>
					<div class="col-md-4 mb-5">
						<div class="circle promise custom-label" data-label-color="#8cb545" data-empty-fill="#f5f5f5" data-fill="{&quot;color&quot;: &quot;#8cb545&quot;}"
						 data-value="0.14" data-size="155"><strong></strong></div>
						<div class="feature__title white pb-0">Lower mortality</div>
					</div>
					<div class="col-md-4 mb-5">
						<div class="circle promise" data-label-color="#e8ce19" data-empty-fill="#f5f5f5" data-fill="{&quot;color&quot;: &quot;#e8ce19&quot;}"
						 data-value="0.45" data-size="155"><strong></strong></div>
						<div class="feature__title white pb-0">Lower Readmissions</div>
					</div>
				</div>
				<div class="section__subtitle text-white text-center mb-2">Actual results achieved by our Texas customers.</div>
			</div>
		</div>
	</div>
</section>