<section class="section">
	<div class="container">


		<h2 class="section__title text-center">
			About MyCuraCare
			<div class="section__title-decorator">
			</div>
		</h2>
	</div>
	<div class="row my-3 justify-content-lg-start justify-content-center">
		<div class="col-lg-6" style="border-radius:0 20px 20px 0; background:center / cover no-repeat url(./media/img/home/about.jpg)"></div>
		<div class="col-lg-6 py-lg-5 py-0">
				<div class="container pl-0 container-half mx-auto mx-lg-0">
			<div class="container ">
						<h3 class="mb-2">Lorem Ipsum</h3>
						<p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						</p>
						<br>
						<h3 class="mb-2">Lorem Ipsum</h3>
						<p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						</p>
						<br>
						<h3 class="mb-2">Lorem Ipsum</h3>
						<p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						</p></div></div>
		</div>
	</div>
</section>

<section class="section darken what-we-do employer">
	<div class="container">

		<h2 class="section__title text-center">
			Why Choose Us
		</h2>
		<div class="section__description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco</div>
	</div>
	<div class="container">
		<div class="row my-4">
			<div class="col-md ">
				<div class="card">
					<div class="icon text-center">
						<svg  name="svg-quality">
							<use xlink:href="#quality" /></svg>
					</div>
					<div class="feature__title">
						PERSONALIZED <br>
						<span class="text-lowercase">support throughout your journey</span>
					</div>
					<div class="feature__text text-center">
						Planning for surgery and navigating the healthcare system can be a daunting task. Figuring
						out who to visit, how to prepare and what to expect when going from one care provider to the
						next is not as straight forward as it should be. <br>
						That’s why MyCuraCare lends a helping hand. We assign a personal Care Concierge to guide you
						through the entire episode of care. From selecting the right hospital and doctor, to
						gathering medical records, to assisting with travel (if needed) for you and a companion –
						your Care Concierge will be there to help every step of the way.

					</div>
				</div>
			</div>
			<div class="col-md  mt-md-0 mt-4">
				<div class="card">
					<div class="icon text-center">
						<svg name="svg-costPredicability">
							<use xlink:href="#costPredicability"  /></svg>
					</div>
					<div class="feature__title">
						TOP QUALITY <br>
						<span class="text-lowercase"> hospitals and doctors in your region</span>
					</div>
					<div class="feature__text text-center">
						Finding the right hospital and doctor for your individual needs is challenging. Not all
						medical providers deliver the same quality of care. In fact, going to a low-quality hospital
						for surgery – even if it is the most convenient location – can be life threatening. <br>
						At MyCuraCare, we have identified regional “Centers of Excellence”, which are hospitals and
						doctors that have demonstrated the best results, fewest complications and highest level of
						personalized care. This means you can experience a smoother recovery and get back to health
						sooner.

					</div>
				</div>
			</div>
			<div class="col-md mt-md-0 mt-4">
				<div class="card">
								<div class="difference__icon icon">
									<svg  name="svg-concierge" >
										<use xlink:href="#concierge"/></svg>
								</div>
					<div class="feature__title">
						ZERO <br>
						<span class="text-lowercase">out of pocket costs*</span>
					</div>
					<div class="feature__text text-center">
						Medical bills are confusing and can seem never-ending – especially for surgery. Determining
						if they are accurate, when they will stop and how much you will end up paying is incredibly
						frustrating.
						If you choose MyCuraCare for your surgery, you will know exactly what it will cost
						beforehand, if anything at all. In most cases*, your employer will cover 100% of all costs,
						potentially saving you thousands of dollars. No medical bills, no confusion and no
						surprises. <br>

						* Due to IRS regulations, High Deductible Health Plan (HDHP) enrollees are subject to a
						federal minimum deductible but co-insurance is waived.

					</div>
				</div>
			</div>
		</div>
	</div>
</section>