.login-page {
	.jumbo {
		background-image: url(../img/login/bg.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto;
		background-color: #f5f5f5;
	}
	
	input,select{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
	}
	.select2-selection--single,
	.select2-selection--multiple {
		padding: 0 40px 0 0;
		.select2-selection__rendered {
			color: #8b8b8b!important;
		}

	}
}

.steps__header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	counter-reset: index;
	border-radius:20px 20px 0 0;
	overflow:hidden;

	.step {
		flex: 1 1 auto;
		background: #aeaeae;
		position: relative;
		padding: 0;
		margin-right: 4px;
		counter-increment: index;
		min-width:0px;
		padding:0 0 0 15px;

		&:after {
			display: inline-block;
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			height: 0;
			width: 0;
			border: 40px solid transparent;
			border-right-width: 0;
			border-left-width: 20px;
			z-index: 1;
			transform: translateX(4px);
			border-left-color: #ffffff;
			margin: 0;
		}

		.title {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			height: 80px;
			line-height: 80px;
			color: #fff;
			position: relative;
			background-color: #aeaeae;
			border-color: #fff;
			padding-left: 1.6em;
			border-radius: .25em 0 0 .25em;
			text-transform: uppercase;
			max-width:100%;
			min-width:0px;
			padding:0 15px;
			.text{

				white-space:nowrap;
				min-width:0px;
				
			overflow:hidden;
			text-overflow:ellipsis;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				height: 0;
				width: 0;
				border: 40px solid transparent;
				border-right-width: 0;
				border-left-width: 20px;
				z-index: 2;
				border-left-color: #aeaeae;
			}
		}
		.index {
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			background: #fff;
			border-radius: 50%;
			display: block;
			position: relative;
			margin-right: 10px;
			flex:0 0 30px;

			&:before {
				color:#aeaeae;
				content: counter(index)
			}
		}
		&.active,&.complete{
			background: $themeColor;
			.title {
				background-color: $themeColor;
				.index:before{
					color:$themeColor;
				}
				&:after {
					border-left-color: $themeColor;
				}}
		}
		&.complete{
			background: $themeColor;
			.index:before{
				content:"";
				display: block;
				position: absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%) rotate(45deg);
				border:3px solid $themeColor;
				width:6px;
				height:10px;
				border-width:0 3px 3px 0;
			}
		}

		&:last-child {
				margin-right: 0;
			&:after,
			.title:after {
				display: none;
			}
		}
	}
}