<header class="header stuck">
	<div class="container fluid">
		<nav class="header__nav">
			<a href="/" class="header__logo">
				<i class="icon">
					<img src="./media/img/logo-icon.png" alt="">
				</i>
				<i class="full">
					<img src="./media/img/logo.png" alt="">
				</i>
			</a>
				<ul class="header__nav-links"><li ><a  class="js-dropdown no-caret" href="#login-menu">MENU</a></li></ul>
		</nav>
	</div>
	<div class="js-dropdown-cont right sub-menu" id="login-menu">
		<ul>
			<li>
				<a href="login.html">Login</a>
			</li>
			<li>
				<a href="register.html">Register</a>
			</li>
			<li>
				<!-- <a href="reset-password.html">Reset Password</a> -->
			</li>
			<li>
				<a href="faq.html">FAQ</a>
			</li>
		</ul>
	</div>
</header>