.header {
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 9;
	position: fixed;
	transition: all .3s ease-in-out;
	background: rgba(#fff, .3);
	border-bottom: 1px solid #ffffff;

	&.sticky,
	&.stuck {
		height: 70px;
		background: #fff;
		border-bottom:1px solid #f0f0f0;
		

		.sub-menu {
			top: 42px;
			max-height: calc(100vh - 70px)
		}

		&>.sub-menu {
			top: 70px;
			max-height: calc(100vh - 70px)
		}

	}

	.container {
		height: 100%;
	}

	@include b(desktop) {
		padding: 5px 0;
		height: 70px;
	}

	&__nav {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		&-links {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			margin: 0;
			padding: 0;

			&>li {
				padding: 0;
				margin: 0 60px 0 0;
				display: block;
				flex: 0 1 auto;

				@include b(desktop) {
					margin-right: 30px
				}

				&:before {
					display: none;
				}

				&:last-child {
					margin: 0
				}

				&>a:not(.btn) {
					display: block;
					color: #000;
					font-weight: bold;
					text-transform: uppercase;
					line-height: 1em;
					font-size: 14px;
					padding: 0;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					&.js-dropdown {
						&:after {
							position: relative;
							top: 0;
							right: 0;
							transform: none;
							content: "+";
							width: auto;
							height: auto !important;
							padding: 0;
							border: 0;
							font-size: 18px;
							line-height: 8px;
							color: $themeColor;
							font-weight: bold;
							font-family: Arial;
							margin: 0 0 0 8px;
							flex: 0 0 8px;
						}
						&.no-caret{
							&:after{
								display: none;
							}
						}
					}
				}
			}
		}

	}

    &__logo {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
		flex-flow: row nowrap;
		.icon{
			display:none;
			width:50px;
		}
        img,
        svg {
            display: block;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            margin: 0;
		}
		@include b(mobile){
			width:auto;
			.icon{
				display:block;
			}
			.full{
				display:none;
			}
		}
    }
	.sub-menu {
		top: 68px;
		transition: all .3s ease-in-out;

		li {
			border-bottom: 1px solid rgb(216, 216, 216);

			&>a {
				display: block;
				padding: 17px 40px;
				font-size: 14px;
				font-weight: 400;
				color: #000;
				line-height: 1.2em;
				text-align: right;
				@include b(desktop){
					padding:10px 15px;
				}
			}
		}
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: -300px;
	background: #fff;
	height: 100vh;
	z-index: 999;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	transition: left .15s ease-in-out;
	padding:20px 20px 20px 30px;
	&__header{
		display: flex;
		flex-flow: row nowrap;
		height:44px;
		justify-content: space-between;
		align-items: center;
		flex:0 0 100%;
	}
	&.active {
		left: 0;
	}

	a:not(.btn) {
		color: #1c1c1c;
		font-weight: 500;

		.icon {
			margin-right: 10px;
		}
	}
	&>ul{
		li{
			padding:0;
			&:before{
				display: none;
			}
			&>a:not(.btn){
				display: block;
				padding: 10px 0;
				&.js-accordion{
					&:after{
						top:50%;
						margin-top:-2px;
						right:6px;
						width: 8px;
						height: 8px;
						border:1px solid currentColor;
						border-width:0 1px 1px 0;
						transform:rotate(45deg) translateY(-50%);
						transition:transform .15s ease-in-out;
					}
					&.dropped{
						&:after{
							transform:rotate(-135deg) translateY(-50%);
							right:0
						}
					}
				}
			}
		}
		&>li{
			border-bottom: 1px solid #AAADAA;
		}
	}
	.js-accordion-cont{
		padding:0 15px 5px;
		a{	
			padding:5px 0;
			color:#AAADAA
		}
	}

}

#mobMenuOverlay {
	background: rgba(0, 0, 0, .5);
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 998;
	transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

#menuClose {
	border: 0;
	color: $mainFontColor;
	padding: 0;
	height: 44px;
	width: 44px;
	line-height: 44px;
	position: relative;
	right: -15px;

	&:active {
		background: #fff;
	}
}

#menuToggle {
	border: 0;
	color: #1c1c1c;
	height: 44px;
	width: 44px;
	line-height: 44px;

	&:active {
		background: #fff;
	}
}