<header class="header @@if(context.class){@@class}">
		<div class="container fluid">
			<nav class="header__nav">
				<a href="/" class="header__logo">
					<i class="icon">
						<img src="./media/img/logo-icon.png" alt="">
					</i>
					<i class="full">
						<img src="./media/img/logo.png" alt="">
					</i>
				</a>
				<ul class="header__nav-links tablet-hidden">
					<li>
						<a href="how-it-works.html">How it works</a>
					</li>
					<li>
						<a href="#">Business</a>
					</li>
					<li >
						<a href="about.html" class="">About us</a>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">My profile</a>
					</li>
				</ul>
				<button id="menuToggle" class="round transparent tablet-visible hidden"><i class="icon fa fa-bars"></i></button>
			</nav>
			<nav class="mobile-menu tablet-visible hidden">
				<div class="mobile-menu__header">
					MENU
						<button id="menuClose" class="transparent"><i class="icon fas fa-times"></i></button>
				</div>
				<ul >
						<li>
							<a href="how-it-works.html">How it works</a>
						</li>
						<li >
							<a href="#" >Business</a>
						</li>
						<li>
							<a href="about.html">About us</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">My profile</a>
						</li>
					</ul>
			</nav>
			<div id="mobMenuOverlay" class="tablet-visible hidden"></div>
		</div>
	</header>