<footer class="footer">
	<div class="container">
		<nav class="footer__nav">
			<ul class="row">
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="#">
						About Us
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="how-it-works.html">
						How It Works
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="#">
						Business
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="blog.html">
						Blog
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="contact.html">
						Contact Us
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="privacy-policy.html">
						Privacy Policy
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="terms-conditions.html">
						Terms & Conditions
					</a></li>
					<li class="col-lg col-md-3 col-sm-4 text-center mb-3"><a href="faq.html">
						FAQ
					</a></li>
			</ul>
		</nav>
		<div class="footer__center text-center text-sm-left">
			<div class="row align-items-center justify-content-center">
				<div class="col-sm flex-grow-0 logo mt-5" style="-ms-flex-positive:1 !important">
					<img src="./media/img/logo-text.png" class="mx-auto" alt="" style="max-width:290px">
				</div>
				<div class="col-sm flex-shrink-1 flex-grow-0 text-nowrap address  mt-sm-5 mt-3 mx-sm-5" style="-ms-flex-positive:1 !important">
					<b>MyCuraCare</b><br>
					
					9709 Furman Court <br>
					Fort Worth, TX 76244

				</div>
				<div class="col-sm flex-shrink-1 flex-grow-0 mt-sm-5 mt-3 contacts text-nowrap" style="-ms-flex-positive:1 !important;">
					<a href="tel:1-100-123-4567" class="tel">1-100-123-4567</a><br>
					<a class="email" href="mailto:help@mycuracare.com">help@mycuracare.com</a>

				</div>
			</div>
		</div>
		<div class="footer__social  mt-sm-5 mt-3">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fas fa-rss"></i></a>
		</div>
	</div>
	<small class="text-center d-block  mt-sm-5 mt-3">
		<div class="container"><i>Copyright © 2018 Mycuracure.com. All rights reserved.</i></div>
	</small>
</footer>