.footer {
	position: absolute;
	left:0;
	bottom:0;
	height: auto;
	width:100%;
    padding: 60px 0 0;
	background:#fff;
	border-top:2px solid $themeColor;
    &__nav {
        padding:0;
		ul {
			text-align: center;
			margin: -5px -15px;
			padding:0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow:row wrap;
			li {
				line-height: 0;
				flex-grow:0;
				-ms-flex-positive:1;
				@include b(mobile){
					text-align:center
				}
				&:before {
					display: none;
				}
				a {
					display:inline-block;
					color: #727272;
					font-size:14px;
					line-height: 1em;
					white-space:nowrap;
					&:hover {
						text-decoration: underline;
						color: #000
					}
				}
			}
		}
	}
	&__center{
		.address{
			font-size: 14px;
			color:#aaadaa;
		}
		.contacts{
			.tel{
				font-size:20px;
				color:#aaadaa;
			}
			.mail{
				font-size: 14px;
			}
		}
	}
    &__social {
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			display: block;
			width: 38px;
			height: 38px;
			background: #fff;
			border: 1px solid $themeColor;
			font-size:13px;
			line-height: 38px;
			text-align: center;
			color:$themeColor;
			border-radius: 50%;
			margin-right: 10px;
			&:last-of-type{
				margin-right: 0;
			}
			.icon {
				display: inline-block;
			}
			&:hover{
				background: $themeColor;
				color:#fff
			}
		}
	}
	small{
		color:#747474;
		background: #fff;
		border-top:1px solid $themeColor;
		padding:15px 0;
	}
}