.timeline {
	counter-reset: indicator;


	&__step {
		background: #fff;
		counter-increment: indicator;

		&__row {
			display: flex;
			flex-flow: row nowrap;
			padding: 80px 50px;
			position: relative;
		}

		&__indicator {
			position: absolute;
			height: 100%;
			width: 4px;
			background: repeating-linear-gradient(to bottom,
				#aaadaa,
				#aaadaa 12px,
				#fff 12px,
				#fff 24px);
			top: 0;
			right: 50%;
			margin-left: -2px;

			&:before {
				position: absolute;
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				color: #aaadaa;
				background: #fff;
				border-radius: 50%;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
				content: counter(indicator, decimal-leading-zero)
			}
		}

		&__image {
			flex: 0 0 50%;
			padding: 0 70px 0 0;

			.img-wrap {
				position: relative;
				width: 125px;
				height: 125px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 0 0 auto;

				img {
					display: block;
					position: absolute;
					min-width: 100%;
					min-height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: auto;
					width: auto;
					max-width: none;
					max-height: none;
				}
			}
		}

		&__content {
			flex: 0 0 50%;
			padding: 0 0 0 70px;

			.feature__title {
				text-align: left;
				padding-top: 0
			}
		}

		&:nth-child(even) {
			background: #f5f5f5;

			.timeline__step__row {
				flex-flow: row-reverse wrap;

			}

			.timeline__step__image {
				padding: 0 0 0 70px;

				.img-wrap {
					margin: 0 auto 0 0;
				}
			}

			.timeline__step__content {
				padding: 0 70px 0 0;

				.feature__title {
					text-align: right;
				}
			}
		}

		&:last-child {
			.timeline__step__indicator {
				background: transparent;
			}
		}

		@include b(tablet) {
			&__row {
				padding: 40px 60px 40px 0;
				flex-flow: row wrap;
			}

			&__indicator {
				left: auto;
				right: 20px;
				margin: 0;
				width: 2px;

				&:before {

					width: 40px;
					height: 40px;
					line-height: 40px;
					top: -20px;
				}
			}

			&__image {
				padding: 0 0 20px !important;
				flex: 0 0 100%;

				.img-wrap {
					margin: 0 auto !important;
				}
			}

			&__content {
				padding: 20px 0 0 !important;
				flex: 0 0 100%;

				.feature__title {
					text-align: center !important;
				}
			}
		}
	}
}