<div class="timeline">
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/concierge.png" alt="">
					</div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Meet Your Personal Care Concierge</div>
					<div class="feature__text  text-justify">When you contact MyCuraCare, you will be introduced to your personal Care
						Concierge, who will support you throughout the entire surgical experience.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/surgeon.png" alt=""></div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Compare and Select Your Hospital and Surgeon</div>
					<div class="feature__text  text-justify"><a href="register.html">Register</a> using the app and compare the
						quality of MyCuraCare surgeons versus other surgeons in your region, as well as your potential cost savings. Then
						compare and select a surgeon to perform your procedure. Your care concierge can provide you with any guidance and
						advice that you need to make this decision.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/clearance.png" alt=""></div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Receive Clearance for Surgery</div>
					<div class="feature__text  text-justify">
						<p>
							Your Care Concierge will contact you to sign your medical records release form and begin gathering your medical
							records to send to your chosen surgeon.

						</p>
						<p>
							Once the medical records have been reviewed, your Care Concierge will connect you with your surgeon to review
							your treatment recommendation. If surgery is deemed necessary, you can consider your options and then elect to
							proceed with surgery through MyCuraCare.

						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/prepare.png" alt=""></div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Receive Full Support Preparing for Surgery</div>
					<div class="feature__text  text-justify">
						<p>Your Care Concierge will review all educational materials with you, describing what to expect and outlining a step-by-step checklist leading up to the day of surgery. Your Care Concierge will work with you to:
							</p>
							<br>
							<ul class="ticked">
								<li>Schedule the operation and arrange travel logistics (if applicable).</li>
								<li>Tailor a post-discharge care plan, and schedule all follow-up visits with the surgeon, home health and physical therapy services.</li>
										<li>Prepare you for the visit with instructions on diet, sleep and logistics.</li>

							</ul>
							<br>
							<p>Prior to surgery, you will receive a pre-paid debit card in the mail with funds for your per diem (e.g. meals and other incidentals).
								</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/surgery.png" alt=""></div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Have Your Surgery*</div>
					<div class="feature__text  text-justify">
						<p>
							<b>Day 1</b>: You will check into the hospital, meet your surgeon and undergo a final medical evaluation. <br>
							<b>Day 2-3</b>: The operation is completed successfully and you will stay at the hospital to relax and recover.<br>
							<b>Day 4</b>: You will be discharged from the hospital. Depending on whether travel was necessary, you will either spend a few days at your hotel before traveling home, or travel home from the hospital.</p>
							
							<p><i>* The itinerary may vary depending on your condition and surgical procedure. Please talk to your Care Concierge about your surgery specific schedule by calling <a href="tel:1-888-888-8888">1-888-888-8888</a>.</i></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline__step">
		<div class="container">
			<div class="timeline__step__row">

				<div class="timeline__step__indicator"></div>
				<div class="timeline__step__image">
					<div class="img-wrap">
						<img src="./media/img/timeline/recover.png" alt=""></div>
				</div>
				<div class="timeline__step__content">
					<div class="feature__title">Recover Smoothly with Total Care Coordination</div>
					<div class="feature__text  text-justify">After arriving back home, your Care Concierge will call you to walk you through the post-discharge care plan and schedule all remaining medical visits. Your Care Concierge will monitor your progress until you return to work.

					</div>
				</div>
			</div>
		</div>
	</div>
</div>