.request{
	background: $themeColor;
	&__icon{
		height: 60px;
		width: 60px;
		display: block;
		margin: 0 auto 30px;
		border-radius: 50%;
		border:1px solid #fff;
		background: #8cb545;
		line-height: 60px;
		font-size: 26px;
	}
	.js-tab-cont{
		display: none;
	}
	&__form{
		width:465px;
		max-width:100%;
		margin:0 auto;
		input,select{
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
		}
	}
}