<section class="section request">
	<div class="container">
		<div class="row">
			<div class="col-md text-center text-white">
				<div class="request__icon"><i class="far fa-chart-bar"></i></div>
				<div class="section__subtitle">Get a free estimate for the cost and quality improvements for your organizations.</div>
				<div class="mt-4 text-center pt-1">
					<a href="#analysis" class="btn inline white pad js-tab-link">Request claims analysis</a>
				</div>
			</div>
			<div class="col-md mt-4 mt-md-0 text-center text-white">
				<div class="request__icon"><i class="fas fa-envelope-open"></i></div>
				<div class="section__subtitle">Contact us to learn more about our results in other regions including yours.</div>
				<div class="mt-4 text-center pt-1">
					<a href="#questions" class="btn inline white pad js-tab-link">Have more Questions?</a>
				</div>
			</div>
		</div>
	</div>
	<div id="analysis" class="js-tab-cont mt-5">
		<div class="container">
			<h2 class="section__title text-center white">Request Claims Analysis
				<div class="section__title-decorator white"></div>
			</h2>
			<div class="feature__text text-center c-black">The best way to understand how much MyCuraCare can save your
				organization and members is to analyze your historical claims data. We offer this service free of charge and will
				produce an accurate and fully customized estimate of the cost savings attainable through our program.</div>
				<form class="request__form row text-white">
						<div class="col-sm-6 mt-4">
								<input type="text" class="white" placeholder="First Name*">
						</div>
						<div class="col-sm-6 mt-4">
								<input type="text" class="white" placeholder="Last Name*">
						</div>
						<div class="col-sm-6 mt-4">
								<input type="text" class="white"3QAZ placeholder="Email*">
						</div>
						<div class="col-sm-6 mt-4">
								<input type="text" class="white" placeholder="Phone*">
						</div>
						<div class="col-12 mt-4">
							
								<input type="text" class="white" placeholder="Company*">
						</div>
						<div class="col-12 mt-5">
							<textarea name="" id="" rows="6" placeholder="Your Message:

Hello MyCuraCare, I would like to request a claims analysis to understand the savings I can achieve trough your program."></textarea>
						</div>
						<div class="col-12 mt-5 text-center">
							<button class="white inline pad">Submit</button>
						</div>
				</form>
		</div>
	</div>
	
	<div id="questions" class="js-tab-cont mt-5">
			<div class="container">
				<h2 class="section__title text-center white">Have more Questions?
					<div class="section__title-decorator white"></div>
				</h2>
				<div class="feature__text text-center c-black">We are continually expanding our network of top-quality providers. Our goal is to achieve significant improvements in quality while delivering dramatic cost savings. Please contact us to learn about the results that employers are achieving with MyCuraCare in your region.</div>
					<form class="request__form row text-white">
							<div class="col-sm-6 mt-4">
									<input type="text" class="white" class="white" placeholder="First Name*">
							</div>
							<div class="col-sm-6 mt-4">
									<input type="text" class="white" placeholder="Last Name*">
							</div>
							<div class="col-sm-6 mt-4">
									<input type="text" class="white" placeholder="Email*">
							</div>
							<div class="col-sm-6 mt-4">
									<input type="text" class="white" placeholder="Phone*">
							</div>
							<div class="col-12 mt-4">
								
									<input type="text" class="white" placeholder="Company*">
							</div>
							<div class="col-12 mt-4">
								
									<select data-class="upper">
										<option>State where majority of empioyees are located*</option>
										<option value="1">New York</option>
										<option value="2">California</option>
									</select>
							</div>
							<div class="col-12 mt-5">
								<textarea name="" id="" rows="6" placeholder="Your Message:
	
	Hello MyCuraCare, I would like to request a claims analysis to understand the savings I can achieve trough your program."></textarea>
							</div>
							<div class="col-12 mt-5 text-center">
								<button class="white inline pad">Submit</button>
							</div>
					</form>
			</div>
		</div>
	</section>